name: Deploy Complex-3

on:
  push:
    branches:
    - master

env:
  SHA: ${{ github.sha }}
  CLOUDSDK_CORE_DISABLE_PROMPTS: 1
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: multi-cluster    # TODO: update to cluster name
  GKE_ZONE: southamerica-east1-b	   # TODO: update to cluster zone
  PGPASSWORD: ${{ secrets.PGPASSWORD }}

jobs:
  setup-and-deploy:
    name: Setup and Deploy
    runs-on: ubuntu-latest

    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    - run: docker build -t jsfreitas/react-test -f ./client/Dockerfile.dev ./client
    # - run: docker run -e CI=true cygnetops/react-test npm test
    # Configure Workload Identity Federation and generate an access token.

    - name: Build deployment process
      run: sh ./deploy.sh
      shell: bash

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: ${{ secrets.GCP_CREDENTIALS }}

    # Setup gcloud CLI
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v0

    # Get the GKE credentials so we can deploy to the cluster
    - run: |-
        gcloud container clusters get-credentials "$GKE_CLUSTER" --zone "$GKE_ZONE"
        curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
        chmod 700 get_helm.sh
        ./get_helm.sh
        helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
        helm upgrade my-release ingress-nginx/ingress-nginx --install
        kubectl apply -f k8s
        kubectl set image deployments/server-deployment server=jsfreitas/multi-server:$SHA
        kubectl set image deployments/client-deployment client=jsfreitas/multi-client:$SHA
        kubectl set image deployments/worker-deployment worker=jsfreitas/multi-worker:$SHA
        kubectl rollout status deployment/server-deployment
        kubectl rollout status deployment/client-deployment
        kubectl rollout status deployment/worker-deployment
        kubectl rollout status deployment/redis-deployment
        kubectl rollout status deployment/postgres-deployment
        kubectl get services -o wide


    # In the shell in Google Cloud Console Shell runs   gcloud config set project [PROJECT_ID]
    # In the shell in Google Cloud Console Shell runs   gcloud config set compute/zone
    # In the shell in Google Cloud Console Shell runs   gcloud container clusters get-credentials multi-cluster
    # In the shell in Google Cloud Console Shell runs   kubectl create secret generic pgpassword --from-literal PGPASSWORD=password123
    # helm install --replace my-release ingress-nginx/ingress-nginx 

