name: Deploy Complex-3

on:
  push:
    branches:
    - master

env:
  global:
    - SHA: $(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS: 1
    - PROJECT_ID: ${{ secrets.GKE_PROJECT }}
    - GKE_CLUSTER: multi-cluster    # TODO: update to cluster name
    - GKE_ZONE: southamerica-east1-b	   # TODO: update to cluster zone

jobs:
  setup-and-deploy:
    name: Setup and Deploy
    runs-on: ubuntu-latest

    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    - run: docker build -t jsfreitas/react-test -f ./client/Dockerfile.dev ./client
    # - run: docker run -e CI=true cygnetops/react-test npm test
    # Configure Workload Identity Federation and generate an access token.

    - name: Build deployment process
      run: sh ./deploy.sh
      shell: bash

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: ${{ secrets.GCP_CREDENTIALS }}

    # Setup gcloud CLI
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v0

    # Get the GKE credentials so we can deploy to the cluster
    - run: |-
        gcloud container clusters get-credentials "$GKE_CLUSTER" --zone "$GKE_ZONE"
